In [ ]:
import pandas as pd
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI

df_temp = pd.read_csv("https://datahub.io/core/global-temp/r/0.csv")
df_temp.head()

chat = ChatOpenAI(model="gpt-3.5-turbo-0125")
agent_temp = create_pandas_dataframe_agent(
    chat,
    df_temp,
    verbose=True,
    agent_type="tool-calling",
)


# Qual temperatura média global em 2015?
response = agent_temp.invoke("Qual temperatura média global em 2015?") # type: ignore
# print(response["output"])

# Qual o ano com a maior temperatura média global?
response = agent_temp.invoke("Qual o ano com a maior temperatura média global?") # type: ignore
# print(response["output"])

In [10]:
from langchain_community.utilities.sql_database import SQLDatabase
from langchain_community.agent_toolkits.sql.base import create_sql_agent


db_sakila = SQLDatabase.from_uri("sqlite:///files/sakila_master.db")
chat = ChatOpenAI(model="gpt-3.5-turbo-0125")
agent_temp = create_sql_agent(
    chat,
    db=db_sakila,
    verbose=True,
    agent_type="tool-calling",
)

response = agent_temp.invoke("Quais os filmes mais alugados?") # type: ignore
response2 = agent_temp.invoke("Quais os atores que atuaram em mais filmes?") # type: ignore
print(response["output"])
print(response2["output"])

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


actor, address, category, city, country, customer, film, film_actor, film_category, film_text, inventory, language, payment, rental, staff, store
Invoking: `sql_db_schema` with `{'table_names': 'film'}`



CREATE TABLE film (
	film_id INTEGER NOT NULL,
	title VARCHAR(255) NOT NULL,
	description TEXT DEFAULT NULL,
	release_year VARCHAR(4) DEFAULT NULL,
	language_id SMALLINT NOT NULL,
	original_language_id SMALLINT DEFAULT NULL,
	rental_duration SMALLINT DEFAULT 3 NOT NULL,
	rental_rate DECIMAL(4, 2) DEFAULT (4.99) NOT NULL,
	length SMALLINT DEFAULT NULL,
	replacement_cost DECIMAL(5, 2) DEFAULT (19.99) NOT NULL,
	rating VARCHAR(10) DEFAULT 'G',
	special_features VARCHAR(100) DEFAULT NULL,
	last_update TIMESTAMP NOT NULL,
	PRIMARY KEY (film_id),
	CONSTRAINT fk_film_language FOREIGN KEY(language_id) REFERENCES language (language_id),
	CONSTRAINT fk_film_language_original FOREIGN KEY(original_language_id) REFERENCES language (language_id),
	CONSTRAINT "CHECK_special_rating" CHECK (rating in ('G','PG','PG-13','R','NC-17'))
)

/*
3 rows from film table:
film_id	title	description	release_year	language_id	original_language_id	rental_duration	rental_rate	length	replacement_cost	rating	special_features	last_update
1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies	2006	1	None	6	0.99	86	20.99	PG	Deleted Scenes,Behind the Scenes	2020-12-23 07:12:31
2	ACE GOLDFINGER	A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China	2006	1	None	3	4.99	48	12.99	G	Trailers,Deleted Scenes	2020-12-23 07:12:31
3	ADAPTATION HOLES	A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory	2006	1	None	7	2.99	50	18.99	NC-17	Trailers,Deleted Scenes	2020-12-23 07:12:31
*/

c:\Users\arthu\OneDrive\Documentos\GitHub\python-dev\agents\.venv\Lib\site-packages\langchain_community\utilities\sql_database.py:313: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
c:\Users\arthu\OneDrive\Documentos\GitHub\python-dev\agents\.venv\Lib\site-packages\langchain_community\utilities\sql_database.py:325: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

Invoking: `sql_db_query` with `{'query': 'SELECT title, rental_duration, rental_rate, replacement_cost, rating FROM film ORDER BY rental_duration DESC LIMIT 10'}`


[('ADAPTATION HOLES', 7, 2.99, 18.99, 'NC-17'), ('ANONYMOUS HUMAN', 7, 0.99, 12.99, 'NC-17'), ('ARGONAUTS TOWN', 7, 0.99, 12.99, 'PG-13'), ('BIKINI BORROWERS', 7, 4.99, 26.99, 'NC-17'), ('BLACKOUT PRIVATE', 7, 2.99, 12.99, 'PG'), ('BLANKET BEVERLY', 7, 2.99, 21.99, 'G'), ('BOILED DARES', 7, 4.99, 13.99, 'PG'), ('BOONDOCK BALLROOM', 7, 0.99, 14.99, 'NC-17'), ('BORN SPINAL', 7, 4.99, 17.99, 'PG'), ('BORROWERS BEDAZZLED', 7, 0.99, 22.99, 'G')]Os filmes mais alugados com a duração de aluguel mais longa são:
1. Título: ADAPTATION HOLES, Duração de Aluguel: 7, Taxa de Aluguel: 2.99, Custo de Reposição: 18.99, Classificação: NC-17
2. Título: ANONYMOUS HUMAN, Duração de Aluguel: 7, Taxa de Aluguel: 0.99, Custo de Reposição: 12.99, Classificação: NC-17
3. Título: ARGONAUTS TOWN, Duração de Aluguel: 7, Taxa de Aluguel: 0.99, Custo de Reposição: 12.99, Classificação: PG-13
4. Título: BIKINI BORROWERS, Duração de Aluguel: 7, Taxa de Aluguel: 4.99, Custo de Reposição: 26.99, Classificação: NC-17
5. Título: BLACKOUT PRIVATE, Duração de Aluguel: 7, Taxa de Aluguel: 2.99, Custo de Reposição: 12.99, Classificação: PG
6. Título: BLANKET BEVERLY, Duração de Aluguel: 7, Taxa de Aluguel: 2.99, Custo de Reposição: 21.99, Classificação: G
7. Título: BOILED DARES, Duração de Aluguel: 7, Taxa de Aluguel: 4.99, Custo de Reposição: 13.99, Classificação: PG
8. Título: BOONDOCK BALLROOM, Duração de Aluguel: 7, Taxa de Aluguel: 0.99, Custo de Reposição: 14.99, Classificação: NC-17
9. Título: BORN SPINAL, Duração de Aluguel: 7, Taxa de Aluguel: 4.99, Custo de Reposição: 17.99, Classificação: PG
10. Título: BORROWERS BEDAZZLED, Duração de Aluguel: 7, Taxa de Aluguel: 0.99, Custo de Reposição: 22.99, Classificação: G

> Finished chain.


> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


actor, address, category, city, country, customer, film, film_actor, film_category, film_text, inventory, language, payment, rental, staff, store
Invoking: `sql_db_schema` with `{'table_names': 'actor, film_actor'}`



CREATE TABLE actor (
	actor_id NUMERIC NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	last_update TIMESTAMP NOT NULL,
	PRIMARY KEY (actor_id)
)

/*
3 rows from actor table:
actor_id	first_name	last_name	last_update
1.0000000000	PENELOPE	GUINESS	2020-12-23 07:12:29
2.0000000000	NICK	WAHLBERG	2020-12-23 07:12:29
3.0000000000	ED	CHASE	2020-12-23 07:12:29
*/


CREATE TABLE film_actor (
	actor_id INTEGER NOT NULL,
	film_id INTEGER NOT NULL,
	last_update TIMESTAMP NOT NULL,
	PRIMARY KEY (actor_id, film_id),
	CONSTRAINT fk_film_actor_actor FOREIGN KEY(actor_id) REFERENCES actor (actor_id) ON UPDATE CASCADE,
	CONSTRAINT fk_film_actor_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON UPDATE CASCADE
)

/*
3 rows from film_actor table:
actor_id	film_id	last_update
1	1	2020-12-23 07:13:43
1	23	2020-12-23 07:13:43
1	25	2020-12-23 07:13:43
*/

c:\Users\arthu\OneDrive\Documentos\GitHub\python-dev\agents\.venv\Lib\site-packages\langchain_community\utilities\sql_database.py:313: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
c:\Users\arthu\OneDrive\Documentos\GitHub\python-dev\agents\.venv\Lib\site-packages\langchain_community\utilities\sql_database.py:325: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

Invoking: `sql_db_query` with `{'query': 'SELECT actor_id, COUNT(actor_id) AS movie_count FROM film_actor GROUP BY actor_id ORDER BY movie_count DESC LIMIT 10'}`


[(107, 42), (102, 41), (198, 40), (181, 39), (23, 37), (81, 36), (13, 35), (37, 35), (60, 35), (106, 35)]Os atores que atuaram em mais filmes são os seguintes, com o número de filmes em que atuaram:

1. Actor ID: 107 - Número de Filmes: 42
2. Actor ID: 102 - Número de Filmes: 41
3. Actor ID: 198 - Número de Filmes: 40
4. Actor ID: 181 - Número de Filmes: 39
5. Actor ID: 23 - Número de Filmes: 37
6. Actor ID: 81 - Número de Filmes: 36
7. Actor ID: 13 - Número de Filmes: 35
8. Actor ID: 37 - Número de Filmes: 35
9. Actor ID: 60 - Número de Filmes: 35
10. Actor ID: 106 - Número de Filmes: 35

> Finished chain.
Os filmes mais alugados com a duração de aluguel mais longa são:
1. Título: ADAPTATION HOLES, Duração de Aluguel: 7, Taxa de Aluguel: 2.99, Custo de Reposição: 18.99, Classificação: NC-17
2. Título: ANONYMOUS HUMAN, Duração de Aluguel: 7, Taxa de Aluguel: 0.99, Custo de Reposição: 12.99, Classificação: NC-17
3. Título: ARGONAUTS TOWN, Duração de Aluguel: 7, Taxa de Aluguel: 0.99, Custo de Reposição: 12.99, Classificação: PG-13
4. Título: BIKINI BORROWERS, Duração de Aluguel: 7, Taxa de Aluguel: 4.99, Custo de Reposição: 26.99, Classificação: NC-17
5. Título: BLACKOUT PRIVATE, Duração de Aluguel: 7, Taxa de Aluguel: 2.99, Custo de Reposição: 12.99, Classificação: PG
6. Título: BLANKET BEVERLY, Duração de Aluguel: 7, Taxa de Aluguel: 2.99, Custo de Reposição: 21.99, Classificação: G
7. Título: BOILED DARES, Duração de Aluguel: 7, Taxa de Aluguel: 4.99, Custo de Reposição: 13.99, Classificação: PG
8. Título: BOONDOCK BALLROOM, Duração de Aluguel: 7, Taxa de Aluguel: 0.99, Custo de Reposição: 14.99, Classificação: NC-17
9. Título: BORN SPINAL, Duração de Aluguel: 7, Taxa de Aluguel: 4.99, Custo de Reposição: 17.99, Classificação: PG
10. Título: BORROWERS BEDAZZLED, Duração de Aluguel: 7, Taxa de Aluguel: 0.99, Custo de Reposição: 22.99, Classificação: G
Os atores que atuaram em mais filmes são os seguintes, com o número de filmes em que atuaram:

1. Actor ID: 107 - Número de Filmes: 42
2. Actor ID: 102 - Número de Filmes: 41
3. Actor ID: 198 - Número de Filmes: 40
4. Actor ID: 181 - Número de Filmes: 39
5. Actor ID: 23 - Número de Filmes: 37
6. Actor ID: 81 - Número de Filmes: 36
7. Actor ID: 13 - Número de Filmes: 35
8. Actor ID: 37 - Número de Filmes: 35
9. Actor ID: 60 - Número de Filmes: 35
10. Actor ID: 106 - Número de Filmes: 35